$font-size-base: 					12px;
$line-height-base: 					2.08;


$shell-max-width: 					960px;


$font-proxima-nova:					'Proxima Nova', sans-serif;
$font-open-sans:					'Open Sans', sans-serif;


$color-dark:						black;
$color-light:						white;
$color-danger:						red;
$color-success:						green;
$color-info: 						blue;
$color-warning: 					orange;
$color-transparent: 				transparent;
$color-solid: 						gray;


$font-family-sans-serif: 			'Arial', 'Helvetica', sans-serif;
$font-family-serif: 				'Times', serif;


$breakpoint-small-desktop: 			@media (max-width: 980px);
$breakpoint-mobile: 				@media (max-width: 790px);
$breakpoint-mobile-portrait:		@media (max-width: 479px);
